dash==2.10.2
dash_bootstrap_components==1.4.1
dash_table==5.0.0
eli5==0.13.0
joblib==1.2.0
matplotlib==3.7.1
mlxtend==0.22.0
numpy==1.23.2
pandas==1.5.3
plotly==5.15.0
scikit_learn==1.2.2
shap==0.41.0
xgboost==1.7.6